main {
  a,
  button,
  select,
  input:not([type="radio"], [type="checkbox"]) {
    display: block;
    margin: 1em;
  }

  fieldset {
    display: flex;
    margin: 1em;
    flex-direction: column;
    width: max-content;

    label {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: center;
      gap: 2em;

      &:hover {
        background: hsl(0 0% 90%);
      }
    }
  }
}

dialog {
  color: hsl(0 80% 30%);
  margin: 1em;
  font-weight: 800;
}
